amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
bcrypt==4.0.1
billiard==4.1.0
blessed==1.20.0
blinker==1.6.2
botocore==1.29.158
Brotli==1.0.9
cached-property==1.5.2
celery
cement==2.8.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.3
ConfigArgParse==1.5.5
cryptography==41.0.1
defusedxml==0.7.1
Django
django-cors-headers
django-debug-toolbar
django-filter
django-redis
django-render-block==0.9.2
django-silk
django-templated-email
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
docker
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
drf-nested-routers
environ
exceptiongroup==1.1.1
Flask
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
flower
gevent==22.10.2
geventhttpclient==2.0.9
gprof2dot==2022.7.29
greenlet==2.0.2
gunicorn
humanize
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==3.2.0
kombu
locust
MarkupSafe
model-bakery
msgpack
mysqlclient
oauthlib
packaging
paramiko
pathspec
Pillow
pluggy
prometheus-client
prompt-toolkit
psutil
psycopg2-binary
pycodestyle
pycparser
PyJWT
PyNaCl
pyrsistent
pytest
pytest-django
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
pyzmq
redis
requests
requests-oauthlib
roundrobin
semantic-version
six
social-auth-app-django
social-auth-core
sqlparse
termcolor
texttable
tomli
tornado
typing_extensions
tzdata
urllib3
vine
wcwidth
websocket-client
Werkzeug
whitenoise
zope.event
zope.interface
